<h1>About this app</h1>
<br>
<p>Members can be created from the Members index page.</p>
<p>Members will require 1 account number at the start, additional accounts can be created later.</p>
<p>In the future, this information will be obtained via api for all members, and will not require creating records.</p>
<p>The member show page contains information on Alerts, Requests, Accounts and Member information.</p>
<p>From this page, you can add accounts, create alerts and create requests.</p>
<p>Alerts contain fields for all data points required to be tracked.</p>
<p>Requests can be made for documents from this page.</p>
<p>Requests contain a product, and document(s) required.</p>
<p>Once submitted, an email, and follow up emails, are sent to the member.</p>
<p>This email will contain a template sent to all members, language that relates to each document, and a submit by date that depends on the product type.</p>
<p>The member is presented with a link in the email to log in to the platform through email and DOB, with 2 factor verification.</p>
<p>The member is then presented with an interface to upload documents.</p>
<p>The banker side then shows recent documents submitted for review.</p>
<p>The banker can then forward the document through email to IDV. Or IDV can be given limited access to the application, that allows them to see the member name / application ID and the document for review.</p>
<p>When the documents are uploaded, emails will stop.</p>
<p>Requests will time out after a set time.</p>