<div class="container">
    <h1>Alerts</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Member</th>
                    <th>Date Created</th>
                </tr>
            </thead>
            <tbody>
                <% @alerts.each do |alert|%>
                <tr>
                    <td><%= link_to alert.member.full_name, member_path(alert.member)%></td>
                    <td><%= alert.member.id %></td>
                    <td><%= alert.created_at.strftime("%m-%d-%y")%></td>
                </tr>
                <%end%>
            </tbody>
        </table>
</div>