<div class="container">
    <div class="row mx-1">
        <h1>Documents</h1>
        <div class="col-2">
            <%= link_to "New Document", new_document_path, class: "btn btn-outline-primary shadow" %>
        </div>
        <br><br>
            <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
                <table class="table table-striped table-bordered shadowed">
                    <thead>
                        <tr>
                            <th>Document Type</th>
                            <th>Document Description</th>
                            <th>Last Updated</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @documents.each do |document| %>
                            <tr>
                                <td><%=link_to document.document_type, document %></td>
                                <td><%=document.document_description%></td>
                                <td><%=document.updated_at.strftime("%m-%d-%y")%>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>